
h1,h2,h3,h4 {
    font-weight: 600;
}
header, main, footer {
    margin: 0;
}
a.button {
    display: inline-block;

}
a.button.primary{
background-color: var(--cyan);
}
#hero nav {
    display:flex;

}
#hero nav ul{
    list-style-type: none;

}
nav a {
    color: var(--dark-grey);
}
